.main{
    background-image: url("src/assets/uae-4-2048x1367 2.png");
    }
    .section4{
        background-image: url("src/assets/startup 3.png");
    }
    .section16{
        background-image: url("src/assets/Rectangle 1992 (1).png");
    }
    .footer{
        background-image: url("src/assets/uae-4-2048x1367 3.png");
    }


        #app {
            height: 100%;
        }
    
        html,
        body {
            position: relative;
            height: 100%;
        }
    
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }
    
        .swiper {
            width: 100%;
            height: 100%;
        }
    
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
    
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
